Repository ISP-SST/ISPy, pull requests merged in 2019-11, with the labels that each got.

#18 Adding functions to read/write 'La Palma' and 'Solarnet' cubes
  .gitignore
  io/lapalma.py
  io/solarnet.py
Labels: io, prio:high

#12 1D weak field approximation tools
  spec/wfa.py
Labels: spec

#21 Add obs.py module with viewing angle function
  util/__init__.py
  util/obs.py
Labels: type:feature, util
